<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>Reach me via the following eMail: <b>franciscoiigallego@gmail.com</b></p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>

  <div class="list-group shadow">
    <a href="https://www.linkedin.com/in/franciscoi-gallego/ " target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/circle-linkedin-512.png" class="rounded-circle flex-shrink-0 me-5" width="32" height="32" alt="">
      <h3>LinkedIn</h3>
    </a>
    <a href="https://github.com/FGallego7" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/github.png" class="rounded-circle flex-shrink-0 me-5" width="32" height="32" alt="">
      <h3>Github</h3>
    </a>
  </div>
</div>
