<div class="container">
  <div class="row">
    <!--About me card-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="../../assets/1ba3b5a2-ae75-4360-b61a-1aac6748eb1c-removebg-preview.png" alt="profile picture" width="256" height="256" class="rounded-circle">
        <p>
          ¡Hola! Te voy a contar un poco sobre mí. Soy estudiante de 3er año de Ingeniería en Sistemas, enfocado en el desarrollo backend y diseño de sistemas. Mi interés por la tecnología y la resolución de problemas me ha llevado a explorar diferentes áreas dentro de este mundo tecnológico. Además de mi enfoque principal en backend y diseño de sistemas, también adquirí conocimientos en redes, diseño de bases de datos y pentesting para aplicar medidas de seguridad a mis desarrollos.
        </p>
      </div>
    </div>
    <!--Featured projects-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Projects</h2>
      </div>
    </div>
  </div>
</div>
